# zillow research csvs are fetched, not redistributed. the manifest records
# their sha256 and vintage, and the derived per-metro values ship in the map json
data/raw/zillow/*.csv

# snakemake run metadata and logs
.snakemake/
